@mixin reset-list() {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@mixin settings-font($lh, $fw: 700, $fz: 16px) {
  font-size: $fz;
  line-height: $lh;
  font-weight: $fw;
  font-family: monospace;
}

@mixin box($bdrs: 4px, $bg-color: black) {
  width: 100px;
  height: 100px;
  background-color: $bg-color;
  border-radius: $bdrs;
  border: 5px dotted orangered;
}
